extend layout
block content
    div.thumbs
  
block sidebar
    p
     |Sidebar to add to
    widget
     a(href="/upload") Upload
block ext
  script(language='JavaScript' type='text/javascript' src='/loadpic.js')